html,
body {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 1.3em;
}

.calendarBar {
  display: flex;
  position: relative;
  left: calc(50% - 150px);
  max-width: 300px;
  justify-content: space-between;
  align-items: center;

  & a {
    font-size: 23px;
    cursor: pointer;
  }
}
